.search-box {
    display: none;
}

.modal-header {
    border: none;
}

.tab-login,
.tab-register {
    width: 50%;
    text-align: center;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a>span {
    font-size: 14px;
}