/*NAVBAR*/

.search-box {
    display: none;
}

.modal-header {
    border: none;
}

.tab-login,
.tab-register {
    width: 50%;
    text-align: center;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a>span {
    font-size: 14px;
}

.dropdown-menu>li>a {
    font-size: 15px;
    padding: 10px 12px;
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }
}


/*HEADER*/

.header-jumbotron {
    background-color: #f3f3f3 !important;
    background-image: url("../img/header_bg.svg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 500px 500px;
    text-align: center;
}